@using RZUEP.Models;
@model List<string>
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "";
}
@functions
{
    RZUEPDefaultModel db = new RZUEPDefaultModel();
}

<p><h2 style="text-align:center">Rozkład zajęć studiów stacjonarnych Uniwersytetu Ekonomicznego w&nbsp;Poznaniu</h2></p>

<p><h3 style="text-align:center;color:#aaa;">Twój plan i przydatne informacje zawsze pod&nbsp;ręką w&nbsp;wygodnej, intuicyjnej&nbsp;formie.</h3></p>
<hr />
<p style="text-align:center"><a style="margin:10px;" href="http://ue.poznan.pl"><img src="@Url.Content("~/images/uep512.png")" width="50" height="50" /></a><a style="padding:10px;" href="http://enactusuep.pl/"><img src="@Url.Content("~/images/EnactusUEP_logo.jpg")" width="73" height="50" /></a><a style="padding:10px;" href="http://asap.ue.poznan.pl/"><img src="@Url.Content("~/images/700x366asap.png")" width="96" height="50" /></a><a href="@Url.Action("Index")"><img src="@Url.Content("~/images/fblinkimage.png")" width="1" height="1" /></a></p>
@if (Model.Count > 0)
{
    <div style="margin-top:20px">
        <h3 style="text-align:center">Twoje plany</h3>
        @foreach (var c in Model)
        {
            var id = int.Parse(c.Split('.')[1]);
            <a href="@Url.Action(c[5] == 'p'?"Pracownik":"Student", new { id = id })" style="text-decoration: none">
                <div class="jumbotron mojeplany" style="background-color: #337ab7; border-color: #2e6da4;padding:10px; height:100%">
                    <h4 style="text-align:center;color: #fff;">
                        @if (c[5] == 'p')
                        {
                            var p = db.Proprowadzacies.Find(id);
                            <span style="font-weight: bold;">@Html.Raw("Pracownika " + p.nazwa)</span>
                            <br />
                            @p.jednostka
                            <br />
                            @Html.Raw(p.semestr.Replace("Rozkład zajęć w roku akademickim ", ""))
                        }
                        else
                        {
                            var s = db.Plans.Find(id);
                            <span style="font-weight: bold;">@Html.Raw("Grupy " + s.grupa + " " + s.kierunek)</span>
                            <br />
                            @Html.Raw("Wydział " + s.wydzial)
                            <br />
                            @Html.Raw(s.stopien.Replace("stopnia", "stopień") + ", " + s.rok)
                            <br />
                            @Html.Raw(s.semestr.Replace("Rozkład zajęć w roku akademickim ", ""))
                        }
                    </h4>
                </div>
            </a>
        }
    </div>
}

    <div class="jumbotron" style="margin-top:20px">
        <p style="text-align:center">@Html.Raw(Model.Count() == 0 ? "Jakim planem jesteś zainteresowany?" : "Jesteś zainteresowany innym planem?")</p>
        <p style="text-align:center"><a style="margin-left:20px;margin-right:20px;margin-top:5px;margin-bottom:5px;" class="btn btn-primary btn-lg" href="@Url.Action("Studenci")" role="button">Studenta</a><a style="margin-left:20px;margin-right:20px;margin-top:5px;margin-bottom:5px;" class="btn btn-primary btn-lg" href="@Url.Action("Pracownicy")" role="button">Pracownika</a></p>
    </div>

@section styles {
    <style>
        .mojeplany:hover,
        .mojeplany:focus {
            background-color: #286090 !important;
            border-color: #204d74 !important;
        }
    </style>
}