@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = " - wybór planu pracownika";
}

<p><h2 style="text-align:center">Rozkład zajęć studiów stacjonarnych Uniwersytetu Ekonomicznego w&nbsp;Poznaniu</h2></p>

<p><h3 style="text-align:center;color:#aaa;">Wypełnij formularz i znajdź plan, który&nbsp;Cię&nbsp;interesuje.</h3></p>
<hr />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div id="divsemestr" style="display:none;margin-top:20px">
            <select id="semestr" name="semestr" class="form-control input-lg" onchange="OnSemestrChange(this.value)">
                <option value="" selected disabled>Wybierz semestr...</option>
            </select>
        </div>
        <div id="divwydzial" style="display:none;margin-top:20px">
            <select id="wydzial" name="wydzial" class="form-control input-lg" onchange="OnWydzialChange(this.value)">
                <option value="" selected disabled>Wybierz wydział...</option>
            </select>
        </div>
        <div id="divjednostka" style="display:none;margin-top:20px">
            <select id="jednostka" name="jednostka" class="form-control input-lg" onchange="OnJednostkaChange(this.value)">
                <option value="" selected disabled>Wybierz jednostkę...</option>
            </select>
        </div>
        <div id="divnazwa" style="display:none;margin-top:20px">
            <select id="nazwa" name="nazwa" class="form-control input-lg" onchange="OnNazwaChange(this.value)">
                <option value="" selected disabled>Wybierz pracownika...</option>
            </select>
        </div>
        <div id="divsubmit" style="display:none;margin-top:20px">
            @Html.Hidden("planid")
            <p style="text-align:center">@Html.CheckBox("mojplan", false, new { @style = "transform: scale(1.2);" }) @Html.Label("Zapamiętaj ten plan", new { @class = "control-label", @style = "display:inline;" })</p>
            <p style="text-align:center;margin-top:20px;"><input type="submit" value="Pokaż" class="btn btn-lg btn-primary" /></p>
        </div>
    }
    <div id="divloading" style="margin-top:20px">
        <h3 style="text-align:center;margin-top:10px;color:#bbb;">Proszę czekać...</h3>
        <img style="margin: auto;display:block;" src="@Url.Content("~/images/loader.gif")" />
    </div>
</div>

@section scripts {
    <script>
        Start();
        function Start() {
            OnSemestrChange('');
            $.ajax({
                url: location.origin + '/GetProsemestr', success: function (data) {
                    document.getElementById('semestr').insertAdjacentHTML('beforeend', data);
                    $('#divloading').hide();
                    $('#divsemestr').show();
                    if ($('#semestr').val() != '' && $('#semestr').val() != null) {
                        OnSemestrChange($('#semestr').val());
                    }
                }
            });
        }
        function OnSemestrChange(val) {
            $('#divloading').show();
            $('#wydzial').val('');
            $('#jednostka').val('');
            $('#nazwa').val('');
            $('#planid').val(null);
            $('#mojplan').prop('checked', false);
            $('#divwydzial').hide();
            $('#divjednostka').hide();
            $('#divnazwa').hide();
            $('#divsubmit').hide();
            if (val != '') {
                $('#wydzial').find('option').not(':first').remove().end().val('');
                $.ajax({
                    url: location.origin + '/GetProwydzial/?semestr=' + val, success: function (data) {
                        document.getElementById('wydzial').insertAdjacentHTML('beforeend', data);
                        $('#divloading').hide();
                        $('#divwydzial').show();
                    }
                });               
            }
        }
        function OnWydzialChange(val) {
            $('#divloading').show();
            $('#jednostka').val('');
            $('#nazwa').val('');
            $('#planid').val(null);
            $('#mojplan').prop('checked', false);
            $('#divjednostka').hide();
            $('#divnazwa').hide();
            $('#divsubmit').hide();
            if (val != '') {
                $('#jednostka').find('option').not(':first').remove().end().val('');
                $.ajax({
                    url: location.origin + '/GetProjednostka/?semestr=' + $('#semestr').val() + '&wydzial=' + val, success: function (data) {
                        document.getElementById('jednostka').insertAdjacentHTML('beforeend', data);
                        $('#divloading').hide();
                        $('#divjednostka').show();
                    }
                });
            }
        }
        function OnJednostkaChange(val) {
            $('#divloading').show();
            $('#nazwa').val('');
            $('#planid').val(null);
            $('#mojplan').prop('checked', false);
            $('#divnazwa').hide();
            $('#divsubmit').hide();
            if (val != '') {
                $('#nazwa').find('option').not(':first').remove().end().val('');
                $.ajax({
                    url: location.origin + '/GetPronazwa/?semestr=' + $('#semestr').val() + '&wydzial=' + $('#wydzial').val() + '&jednostka=' + val, success: function (data) {
                        document.getElementById('nazwa').insertAdjacentHTML('beforeend', data);
                        $('#divloading').hide();
                        $('#divnazwa').show();
                    }
                });
            }
        }
        function OnNazwaChange(val) {
            $('#divloading').show();
            $('#planid').val(null);
            $('#mojplan').prop('checked', false);
            $('#divsubmit').hide();
            if (val != '') {
                $.ajax({
                    url: location.origin + '/GetProPlanid/?semestr=' + $('#semestr').val() + '&wydzial=' + $('#wydzial').val() + '&jednostka=' + $('#jednostka').val() + '&nazwa=' + val, success: function (data) {
                        document.getElementById('planid').value = data;
                        $('#divloading').hide();
                        $('#divsubmit').show();
                    }
                });
            }
        }
    </script>
}