@using RZUEP.Models;
@model Prozajecias
<div class="event-info">
    <div>
        <p style="font-weight: bold !important;">@Model.rodzaj@if (Model.info != "" && Model.info != null){@Html.Raw("*")}, @Model.sala</p>
        <a style="margin-top:5px;margin-bottom:5px;margin-right:5px;" class="btn btn-danger btn-sm" href="@Url.Action("PlanPracownika", new { id = Model.proprowadzacyid, idtohide = Model.id })" role="button" onclick="return window.confirm('Jesteś pewien, że chcesz ukryć te zajęcia? Nie będą one również wyświetlane na podglądzie aktualnych i kolejnych zajęć.');">Ukryj te zajęcia</a>
        @if (Model.Grupies.Count>0)
        {
            <br />
            <p style="font-weight: bold !important;">Grupy:</p>
            <p>
                @foreach (var g in Model.Grupies)
                {
                    @Html.Raw(g.nazwa)
                    <br />
                }
            </p>
        }
        @if (Model.info != "" && Model.info != null)
        {
            <br />
            <p style="font-weight: bold !important;">*Dodatkowe informacje:</p>
            <p>@Html.Raw(Model.info)</p>
        }
    </div>
</div>